#flash
  if messages.errors
    .alert.alert-danger.animated.fadeIn
      for error in messages.errors
        div= error.msg
  if messages.info
    .alert.alert-info.animated.fadeIn
      for info in messages.info
        div= info.msg
  if messages.success
    .alert.alert-success.animated.fadeIn
      for success in messages.success
        div= success.msg
#sharer-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Tweet Note', data-dismiss='modal',  aria-hidden='true')
  button(type='button', class='success-modal-close close', data-dismiss='modal') x
  div.sharer-modal-content
    div.static-modal-content
      h2 Felicitaciones!
      h4 Tu nota ha sido publicada.
      h3 Compartela!
    div.variable-modal-content
