#footer
  .container.text-center
    div
      | © 2014
      a(href='http://coquicoders.org' target='_blank')  CoquiCoders.
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/CoquiCoders/ilovepr') GitHub Project
      |  ·
      a(href='https://github.com/CoquiCoders/ilovepr/issues')  Issues
