extends layout

block content
  h1 Yo Me Quedo en Puerto Rico porque...
  ul.notes
    for note in notes
      li.note
        .note-text= note.text
        if note.twitterHandle
          .note-twitter-handle
            a(href="http://twitter.com/#{note.twitterHandle}" target="_blank")
              @#{note.twitterHandle}

