extends layout

block content
  h1 Yo Me Quedo en Puerto Rico porque...
  #new-note
  form.form-horizontal(id='new-note-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      .col-sm-3.control-label(for='noteText') Nota
      .col-sm-7
        textarea.form-control(type='text', name='noteText', id='noteText', placeholder='Texto', autofocus)
    .form-group
      label.col-sm-3.control-label(for='twitterHandle') @
      .col-sm-7
        input.form-control(type='text', name='twitterHandle', id='twitterHandle', placeholder='Twitter', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
              | Enviar
  ul.notes
    //img(src="http://www.ajaxload.info/cache/FF/FF/FF/34/7C/DF/27-1.gif")
//    for note in notes
//      li.note
//        .note-text= note.text
//        if note.twitterHandle
//          .note-twitter-handle
//            a(href="http://twitter.com/#{note.twitterHandle}" target="_blank")
//              @#{note.twitterHandle}

