doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title} Yo Me Quedo en Puerto Rico
    != css('styles')
    != js('application')
    script(src='/socket.io/socket.io.js?v=#{cacheBuster}')
    // TODO -- figure out how stuff gets added to JADE like this
  body
    #wrap
      include partials/navigation
      .container
        include partials/new_note
        include partials/flash
        block content
    include partials/footer
    include partials/analytics
